# Lixo de Compilação (O que o Java gera)
*.class
*.log
*.ctxt
bin/
out/
target/

# Lixo de IDE (Configurações pessoais)
.idea/
.vscode/

# Arquivos de Sistema
Thumbs.db
.DS_Store

# Arquivos de instruções do trabalho
av2_-_programacao_avancada_(18.pdf
Java 8 – Ensino Didático - Desenvolvimento e Implementação de Aplicações.pdf